<!DOCTYPE html>
<html>
  <head>
    <title>LB1 - OCR</title>
  </head>
  <body>

    {% if msg %}
    <h1>{{ msg }}</h1>
    {% endif %}
    
    <h1>Charger un nouveau fichier</h1>
    
    <form method=post enctype=multipart/form-data>
      <p><input type=file name=file>
         <input type=submit value=Charger>
    </form>

    <h1>Resultat:</h1>
    {% if img_src %}
      <img src="{{ img_src }}">
    {% endif %}
    
    {% if extracted_text %}
      <p> Le texte extrait de l'image ci-dessus est: <b> {{ extracted_text }} </b></p>
    
    {% else %}
      Le texte extrait sera affiché ici
    {% endif %}
  </body>
</html>
    